<!DOCTYPE html>
<html>
<body
    style="margin: 0; padding: 20px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.5; color: #000000; background-color: #f8f9fa;">

    <a href={{.Content}} style="margin: 25px 0 60px 0; font-size: 14px; text-align: left;">{{.Content}}</a>
</body>
</html>
